@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
$white: #fff;
$darkBlue: #3a4793;
$lightBlue: #25b3ec;
$lightPurple: #9787ee;
$yellow: #ffbf3e; 

*, h1, h2, h3, h4, h5, h6, p, span, div{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: #ededed;
  height: 100%;
  overflow: hidden;
}

@import "home";
@import "all_tasks";

.btn {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  margin: 15px 0;
  &.lightBlue {
    text-decoration: none;
    font-size: 25px;
    background-color: $lightBlue;
  }
}